.rightbar{
    flex : 3;
}



.rightbar-online-friends-list{
    margin:0px;
    padding:0px;
    list-style: none;
}


.rightbar-profile-title{
    margin-bottom : 20px;
    margin-top : 20px;
}

.rightbar-hr{
    margin-top : 20px;
    margin-bottom : 20px;
}

.right-profile-user{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right-profile-user:hover{
    background-color: rgb(221, 221, 221);
}

.rightbar-profile-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right : 10px;
}